@font-face {
  font-family: KN;
  src: url(./FontsKhawNeaw/KhaoNiawThin.ttf);
}
body {
    font-family: KN; 
    background-image: url('./Menu_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000; 
  }
  .question-container {
    text-align: center;
  }
  .question-container.active {
    display: block;
  }
  .answer {
    display: block;
    margin: 10px auto; 
    padding: 15px; 
    border-radius: 5px;
    cursor: pointer;
    background-image: url("./เกมทายคำกำไร.png");
    background-color: #EFD493;
    background-position: center;
    background-size: cover; 
    height: 3.6em;
    width: 78%;
    border-radius: 15px;
  }
  .answerText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
  }
  .correct-displayed {
    background-color: #8BC34A;
  }
  .wrong-displayed {
    background-color: #FF5722; 
  }

  .explanation {
    margin-top: 35%;
    display: none;
    width: fit-content;
    margin: 0 auto; 
    font-size: 16px; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    left: 0; 
    right: 0; 
    text-align: center;
}

  .question-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

  .nextbutton {
    position: fixed;
    bottom: 2em; 
    right: 1em;
    display: none;
    padding: 0.5em 1em; 
    border-radius: 10px; 
    cursor: pointer;
    background-color: rgb(162, 246, 168);
    border: none;
}  
